body {
    background-color: orange;
    display:flex;
    flex-direction: column;
    align-content: space-around;
    background-image: url("../Ninja-Field-Phase-1-Project/images/narutoSymbol.png");
    background-repeat: repeat;
    background-position: center;
    background-size: 100px 100px;
}

div {
    margin: 50px;
}

/* ID Styles */

#title {
    display: flex;
    justify-content: center;
}

#mainTitle.title-text {
    font-size: 100px;
    background-image: linear-gradient(to right, white, gray, white);
}

#ninjas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/76612106-8aba-4097-9619-baee44cc3b5f/d88l3ym-4ea9a020-570a-45e1-9b2e-48b56fd03523.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc2NjEyMTA2LThhYmEtNDA5Ny05NjE5LWJhZWU0NGNjM2I1ZlwvZDg4bDN5bS00ZWE5YTAyMC01NzBhLTQ1ZTEtOWIyZS00OGI1NmZkMDM1MjMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.bvSzMtEUF5fnaxadKipURSNrTGaXt25qbmHh2vrId6g");
    background-repeat: no-repeat;
    background-size: cover;

}

#ninjaForm {
    flex-grow: 1;
    display: flex;
}

#ninjaContainer {
    display: flex;
    flex-wrap: wrap;
}


#battleField {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8e27d769-0a2f-4aa3-a6b2-83c556cc602d/d78k9ob-81d450d2-c8ca-4d47-910f-80a901979966.png/v1/fill/w_1024,h_576,q_80,strp/background_naruto_by_nitopfam_d78k9ob-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvOGUyN2Q3NjktMGEyZi00YWEzLWE2YjItODNjNTU2Y2M2MDJkXC9kNzhrOW9iLTgxZDQ1MGQyLWM4Y2EtNGQ0Ny05MTBmLTgwYTkwMTk3OTk2Ni5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19._R_mXghmCn7Q3YSUgOOKi5h5hh-KS2xwq5V099luZDE");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    height: 800px;
    display: flex;
    flex-direction: column;
}

#squads {
    display: flex;
    flex-grow: .75;
    justify-content: space-around;
    margin-top: 0;
}

#fightButton {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

#FIGHT {
    font-family: "Ninja Naruto", sans-serif;
    color: rgb(251, 248, 243);
    text-shadow: 5px 5px 10px black;
    font-size: 50px;
    background: none;
    border: none;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
}

#winnerOne {
    display:none
}

#winnerTwo {
    display:none
}

#FIGHT:hover {
    color: orange;
    cursor: pointer; 
}

#filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ninja-card {
    transform-style: preserve-3d;
    position: relative;
    transition: all 0.8s ease;
}

.front {
    background: linear-gradient(orange,white);
    width: 400px;
    height: 450px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 50px black;
    border-style: solid;
    border-color: black;
    backface-visibility: hidden;
    position: absolute;
}

.front img {
    border-style: solid;
    border-color: black;
    margin-top: 10px;
}

.front p {
    font-size: 20px;
    font-family: "Ninja Naruto", sans-serif;
}

.back {
    backface-visibility: hidden;
    background: linear-gradient(orange,white);
    width: 400px;
    height: 450px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 50px black;
    border-style: solid;
    border-color: black;
    transform: rotateY(180deg);
}

#squadOne {
    margin-top: 0;
}

#squadTwo {
    margin-top: 0;
}

/*Class Styles */

.title-text {
    font-family: 'Ninja Naruto', sans-serif;
    color: orange;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right,yellow,orange, orangered);
    -webkit-background-clip: text;
    font-size: 50px;
}

.filter-text {
    font-family: 'Ninja Naruto', sans-serif;
    -webkit-text-stroke-width:3px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right,yellow,orange, orangered);
    -webkit-background-clip: text;
    font-size: 50px;
    border: none;
    appearance: none;
    padding: 50px;
    outline: none;
}

.filter-text:hover {
    cursor: pointer;
}

.filter-text:after {
    border: none;
    outline: none;
}

.flipCard {
    transform: rotateY(180deg);
}

.addBtn {
    font-family: "Ninja Naruto", sans-serif;
    color: rgb(251, 248, 243);
    text-shadow: 5px 5px 10px black;
    font-size: 50px;
    background: none;
    border: none;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    padding-top: 50px;
}

.addBtn:hover {
    color: orange;
    cursor: pointer; 
}

input[type=submit] {
    font-family: "Ninja Naruto", sans-serif;
    color: rgb(251, 248, 243);
    text-shadow: 5px 5px 10px black;
    font-size: 50px;
    background: none;
    border: none;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    padding-top: 50px;
}

input[type=submit]:hover {
    color: orange;
    cursor: pointer; 
}


