body {
    background-color: orange;
    display:flex;
    flex-direction: column;
    background-image: url("../Ninja-Field-Phase-1-Project/images/narutoSymbol.png");
    background-repeat: no-repeat;
    background-position: center;

}

div {
    border-color: black;
    border:5px;
    border-style: solid;
}

/* ID Styles */

#title {
    display: flex;
    justify-content: center;
}

#ninjas {
    display: flex;
    flex-direction: row;

}

#ninjaInformation {
    flex-grow: 1;
}

/*Class Styles */

.title-text {
    font-family: 'Ninja Naruto', sans-serif;
}